
html,body {
    margin: 0;
    padding: 0;
}
.mapplic-container {
    background-color: #16171F;
} 

.mapplic-clickable:not(g), g.mapplic-clickable > *{
    opacity: 1
}

.mapplic-element svg {
    width: auto;
    height: 100%;
}